<div ng-show="loading">Chargement ....</div>
<div ng-hide="loading">
	<div class="row-fluid">
		<div ng-repeat="place in places" class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="" alt"mon image">
				<div class="caption">
					<h1>{{place.nom}}</h1>
					<p>{{place.date}}</p>
					<p>
					<a href="#/place/{{place.id}}">afficher</a>
					</p>
				</div> 
			</div>
		</div>

		<!--ajout de lieu -->
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="" alt"mon image">
				<div class="caption">
					
					<p>
					<a href="#/addplace">Ajouter un lieu</a>
					</p>
				</div> 
			</div>

		</div>


	</div>

</div>